TWITTER_CONSUMER_KEY = ""
TWITTER_CONSUMER_SECRET = ""
TWITTER_USER_TOKEN = ""
TWITTER_USER_SECRET = ""

TWITTER_FOLLOW = "1206600234"

SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
SPOTIFY_REDIRECT_URI='http://localhost/'
SPOTIFY_PLAYLIST_ID = ""
SPOTIFY_SCOPE = 'playlist-modify-public'
SPOTIFY_USERNAME = ""